
/* estilo carrito*/


/*Navbar */
.navbar-custom {
    background-color: #e26445; /* Cambia este color por el que prefieras */
}

.navbar-brand img {
    height: 60px; /* Ajusta el tamaño según tus necesidades */
    width: 120px;
}

.navbar-nav .nav-link {
    color: white; /* Cambia el color del texto a blanco */
}

.navbar-toggler {
    color: white; /* Cambia el color del icono del botón */
    border-color: white; /* Cambia el color del borde del botón */
}


#shopping-cart {
    position: fixed;
    top: 20%; /* Puedes ajustar este valor para cambiar la altura inicial del carrito */
    right: 5%;
    width: 300px;
    height: 60vh; /* Fija la altura para que se vea completa y sea scrollable */
    overflow-y: auto; /* Añade scroll interno si el contenido supera la altura */
    background-color:rgb(205, 94, 50);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
